
                .ff-booking-picker-element + .flatpickr-calendar{
                    width:100%;     margin-bottom: 20px;
                } .ff-booking-container .flatpickr-rContainer{
                      margin:0px auto;
                  } .ff-booking-picker-element + .dayContainer,.ff-booking-picker-element .flatpickr-days{
                    } .ff-booking-picker-element + .flatpickr-day {
                      } .ff-radio-inline{
                            position: relative;
                            display: inline-block;
                            padding-left: 20px;
                            margin: 5px 0px;
                            font-weight: 400;
                            vertical-align: middle;
                            cursor: pointer;
                            border: 1px solid;
                            padding: 5px 25px;
                            border-radius: 3px;
                            background-color: #409efd36;
                            margin-right: 5px;;
                        } .ff-radio-inline input[type=radio] {
                              position: absolute;
                              margin-top: 4px!important;
                              margin-left: -20px!important;
                          } .ff-timeslot-div{
                                display: flex;
                                flex-wrap: wrap;
                                justify-content: center;
                                margin: 15px 0px;
                            }
                .ff-booked-slot{
                    opacity: .6;
                }

                /* Tooltip text */
                .tooltiptext {
                    visibility: hidden;
                    width: 120px;
                    background-color: black;
                    color: #fff;
                    text-align: center;
                    padding: 5px 0;
                    border-radius: 6px;

                    /* Position the tooltip text - see examples below! */
                    position: absolute;
                    bottom: 30px;
                    z-index: 1;
                }

                /* Show the tooltip text when you mouse over the tooltip container */
                .tooltip:hover .tooltiptext {
                    visibility: visible;
                }
                .booking-loader {
                    border: 4px solid #f3f3f3;
                    border-top: 4px solid #559ff7;
                    border-radius: 50%;
                    width: 50px;
                    height: 50px;
                    animation: spin 2s linear infinite;
                }

                /* Safari */
                @-webkit-keyframes spin {
                    0% { -webkit-transform: rotate(0deg); }
                    100% { -webkit-transform: rotate(360deg); }
                }

                @keyframes spin {
                    0% { transform: rotate(0deg); }
                    100% { transform: rotate(360deg); }
                }

