@import 'element-variables.scss';
@import "~element-ui/lib/theme-chalk/menu.css";
@import "~element-ui/lib/theme-chalk/menu-item.css";
@import "_element_icons.css";
@import "~element-ui/lib/theme-chalk/input-number.css";
//@import "~element-ui/lib/theme-chalk/tag.css";
@import "~element-ui/lib/theme-chalk/message-box.css";
@import "~element-ui/lib/theme-chalk/rate.css";
@import "~element-ui/lib/theme-chalk/tooltip.css";
//@import "~element-ui/lib/theme-chalk/upload.css";
@import "~element-ui/lib/theme-chalk/card.css";
@import "~element-ui/lib/theme-chalk/dropdown.css";
@import "~element-ui/lib/theme-chalk/dropdown-menu.css";
@import "~element-ui/lib/theme-chalk/dropdown-item.css";
@import "~element-ui/lib/theme-chalk/row.css";
@import "~element-ui/lib/theme-chalk/col.css";
@import "~element-ui/lib/theme-chalk/table.css";
@import "~element-ui/lib/theme-chalk/table-column.css";
@import "~element-ui/lib/theme-chalk/pagination.css";
@import "~element-ui/lib/theme-chalk/radio-group.css";
@import "~element-ui/lib/theme-chalk/radio-button.css";
@import "~element-ui/lib/theme-chalk/switch.css";
@import "~element-ui/lib/theme-chalk/date-picker.css";
@import "~element-ui/lib/theme-chalk/dialog.css";
@import "~element-ui/lib/theme-chalk/form.css";
@import "~element-ui/lib/theme-chalk/form-item.css";
@import "~element-ui/lib/theme-chalk/radio.css";
@import "~element-ui/lib/theme-chalk/checkbox-group.css";
@import "~element-ui/lib/theme-chalk/alert.css";
@import "~element-ui/lib/theme-chalk/tabs.css";
@import "~element-ui/lib/theme-chalk/tab-pane.css";
@import "~element-ui/lib/theme-chalk/color-picker.css";
@import "~element-ui/lib/theme-chalk/button.css";
@import "~element-ui/lib/theme-chalk/button-group.css";
@import "~element-ui/lib/theme-chalk/input.css";
@import "~element-ui/lib/theme-chalk/checkbox.css";
@import "~element-ui/lib/theme-chalk/select.css";
@import "~element-ui/lib/theme-chalk/option-group.css";
@import "~element-ui/lib/theme-chalk/option.css";
@import "~element-ui/lib/theme-chalk/collapse.css";
@import "~element-ui/lib/theme-chalk/collapse-item.css";
@import "~element-ui/lib/theme-chalk/popover.css";
@import "~element-ui/lib/theme-chalk/slider.css";
@import "~element-ui/lib/theme-chalk/loading.css";
//@import "~element-ui/lib/theme-chalk/message.css";
@import "~element-ui/lib/theme-chalk/notification.css";
@import "~element-ui/lib/theme-chalk/step.css";
@import "~element-ui/lib/theme-chalk/steps.css";
@import "~element-ui/lib/theme-chalk/timeline.css";
@import "~element-ui/lib/theme-chalk/timeline-item.css";
.ff_booking_settings_wrapper {
  .el-menu-demo{
    margin-bottom: 25px;
  }
  .ff-booking-stat{
    text-transform: capitalize;
  }
}
.ff_booking_settings_container{
  background: #fff;
  padding: 15px 20px;
  .ff_booking_navigation {
    display: block;
    width: 100%;
    margin-bottom: 25px;
    ul{
      margin: 0;
      padding: 0;
      list-style: none;
      border-bottom: 1px solid #e4e7ec;
      li {
        display: inline-block;
        padding: 0 20px 15px;
        cursor: pointer;
        margin: 0;
        border-bottom: 2px solid transparent;
        &.ff_active {
          border-bottom-color: #409eff;
          color: #409eff;
          font-weight: bold;
        }
      }
    }

  }
  .pull-right{
    float: right;
  }
  .pull-left{
    float: left;
  }

  input {
    -webkit-appearance: none;
    background-color: #fff;
    border-radius: 4px;
    border: 1px solid #dcdfe6;
    color: #606266;
    box-shadow: none;
    margin: 0;
    transition: border-color .2s cubic-bezier(.645,.045,.355,1);

    &:focus {
      box-shadow: none;
    }

    &.el-select__input {
      border: none;
      background-color: transparent;
    }
  }
  .el-select input{
    background: transparent;
  }
  input{

  }
  .el-form-item {
    > label {
      font-weight: 500;
      line-height: 100%;
    }

    p {
      margin-top: 5px;
      color: gray;
      font-size: 12px;
    }
  }

}

.el-form-item__content {
  line-height: 10px;
}

//.el-dropdown-list-wrapper {
//  padding: 0;
//
//  .group-title {
//    display: block;
//    padding: 5px 10px;
//    background-color: #82848a;
//    color: #fff;
//  }
//}
